<!doctype html>
<html>
  <head>
  </head>
  <body>
    <h3>Availability updated at {{ .LastUpdate }}</h3>
    <ul>
      {{range .SnapDiffs}}
      <li>
        <h4><a href="{{.ItemURL}}">{{.ItemName}}</a></h4>
        <p><strong>Availability</strong>
          {{.PreviousAva}}
          →
          {{.CurrentAva}}
        <p><strong>On ebay</strong>
          {{if .PreviousStatus}}
          <font size="5" style="color:green">&#9745;</font> <!-- Ballot box with check -->
          {{else}}
          <font size="5" style="color:red">&#9746;</font> <!-- Ballot box with cross -->
          {{end}}
          →
          {{if .CurrentStatus}}
          <font size="5" style="color:green">&#9745;</font> <!-- Ballot box with check -->
          {{else}}
          <font size="5" style="color:red">&#9746;</font> <!-- Ballot box with cross -->
          {{end}}
          <a href="http://cgi.ebay.it/ws/eBayISAPI.dll?ViewItem&rd=1&item={{.EbayID}}"> Go to Ebay</a>
        </p>
        <p><strong>Price</strong> {{.PreviousPrice}} → {{.CurrentPrice}}</p>
      </li>
      {{end}}
    </ul>
  </body>
</html>
