<!doctype html>
<html>
  <head>
  </head>
  <body>
    <h3>Availability updated at {{ .LastUpdate }}</h3>
    <ul>
      {{range .SnapDiffs}}
      <li>
        <h4><a href="{{.ItemURL}}">{{.ItemName}}</a></h4>
        <p><strong>Availability</strong>
          {{.PreviousAva}}
          →
          {{.CurrentAva}}
        <p><strong>Computed Availability</strong>
          <font color="{{avaCol .PreviousAvaComp}}">{{.PreviousAvaComp}}</font>
          →
          <font color="{{avaCol .CurrentAvaComp}}">{{.CurrentAvaComp}}</font>
        <p><strong>On ebay</strong>
          <font size="5" style="{{ebayCol .PreviousStatus}}">{{.PreviousStatus}}</font>
          →
          <font size="5" style="{{ebayCol .CurrentStatus}}">{{.CurrentStatus}}</font>
          <a href="http://cgi.ebay.it/ws/eBayISAPI.dll?ViewItem&rd=1&item={{.EbayID}}"> Go to Ebay</a>
        </p>
        <p>
          <strong>Price</strong> {{.PreviousPrice}} → {{.CurrentPrice}}
          {{if eq .PreviousPrice .CurrentPrice}}
          <font size="5" style="color:orange">&#5120;</font> <!-- ᐀ canadian syllabics hyphen -->
          {{else if gt .PreviousPrice .CurrentPrice}}
          <font size="5" style="font-weight:bolder;color:green">&darr;</font> <!-- ᐀ down arrow -->
          {{else}}
          <font size="5" style="font-weight:bolder;color:red">&uarr;</font> <!-- up arrow -->
          {{end}}
          <strong>Target Price</strong> {{targetEbayPrice .CurrentPrice}}
        </p>
      </li>
      {{end}}
    </ul>
  </body>
</html>
