<!doctype html>
<html class="no-js" lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="static/css/bootstrap.min.css">
    <link rel="stylesheet" href="static/css/bootstrap-theme.min.css">
    <link rel="stylesheet" href="static/css/font-awesome.min.css">
    <link rel="stylesheet" type="text/css" href="//cdn.datatables.net/1.10.13/css/jquery.dataTables.css">
    <script
      src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js">
    </script>
    <script type="text/javascript" charset="utf8" src="//cdn.datatables.net/1.10.13/js/jquery.dataTables.js"></script>
    <script type="text/javascript" src="static/js/bootstrap.min.js"></script>
		<script type="text/javascript" charset="utf-8">
			$(document).ready(function() {
				$('#items').DataTable();
			} );
		</script>
    <title>Welcome to Dropp</title>
  </head>
  <body>
    <nav class="navbar navbar-default">
      <div class="container-fluid">

        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
          <a class="navbar-brand" href="#"><i>DROPP</i></a>
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
          <ul class="nav navbar-nav">
            <li class="active"><a href="/">Items</a></li>
            <li><a href="/create_snapshots">Update Snapshots</a></li>
          </ul>
          <ul class="nav navbar-nav navbar-right">
            <li><a href="#">{{.CurrentUser}}</a></li>
            <li><a href="#">
                <i class="fa fa-sign-out fa-lg"></i>
            </a></li>
          </ul>
        </div><!-- /.navbar-collapse -->
      </div><!-- /.container-fluid -->
    </nav>

    <div class="container">
      <table id="items">
        <thead>
          <tr role="row">
            <th>Source URL</th>
            <th>Ebay ID</th>
            <th>Item name</th>
          </tr>
        </thead>
        <tbody>
          {{range .Items}}
            <tr role="row">
              <td>{{.SourceURL}}</td>
              <td>{{.EbayID}}</td>
              <td>{{.ItemName}}</td>
            </tr>
          {{end}}
        </tbody>
      </table>
    </div>

    <div class="container">
      <hr>
    </div>

    <div class="container">
      <form action="/item" method="post">
        <div class="form-group row">
          <label for="item-name-input" class="col-2 col-form-label">Item Name</label>
          <div class="col-10">
            <input class="form-control" type="text" placeholder="Drill bits kit" id="item-name-input" name="item-name-input" value="">
          </div>
        </div>

        <div class="form-group row">
          <label for="item-url-input" class="col-2 col-form-label">Item Source URL</label>
          <div class="col-10">
            <input class="form-control" type="url" placeholder="https://getbootstrap.com" name="item-url-input" id="item-url-input" value="">
          </div>
        </div>

        <div class="form-group row">
          <label for="item-ebay-id-input" class="col-2 col-form-label">Item Ebay ID</label>
          <div class="col-10">
            <input class="form-control" type="number" value="" placeholder="42" name="item-ebay-id-input" id="item-ebay-id-input">
          </div>
        </div>

        <div class="form-group row">

          <div class="form-check form-check-inline">
            <label class="form-check-label">
              Is item active?
            </label>
          </div>

          <div class="form-check form-check-inline">
            <label class="form-check-label">
              <input class="form-check-input" type="radio" name="item-is-active-input" id="item-is-active-true" value="yes"> yes
            </label>
          </div>

          <div class="form-check form-check-inline">
            <label class="form-check-label">
              <input class="form-check-input" type="radio" name="item-is-active-input" id="item-active-false" value="no"> no
            </label>
          </div>
        </div>

        <button type="submit" class="btn btn-primary">Submit</button>
      </form>
    </div>

    <script type="text/javascript">
    	// For demo to fit into DataTables site builder...
    	$('#items')
    		.removeClass( 'display' )
    		.addClass('table table-striped table-bordered');
    </script>

  </body>
</html>
